body{
    background-color: rgba(113, 188, 211, 0.589);
}

table, th, td{
    border:1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

/*th, td {
    border:1px solid red;
} */

p{
    color:red;

}

h1{
    color:blue;
}
#paragrafo{
    color:yellowgreen;
}